<!DOCTYPE html>
<html lang="zh-Hant" prefix='og: http://ogp.me/ns#'>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= environment === 'production' ? meta.googleAnalyticsTrackId : meta.googleAnalyticsTrackIdTest %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= environment === 'production' ? meta.googleAnalyticsTrackId : meta.googleAnalyticsTrackIdTest %>');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title><%= meta.title %></title>

  <meta name="image" content="<%= meta.imageUrl %>">
  <meta name="description" content="<%= meta.description %>">
  <meta name="keywords" content="<%= meta.keywords.join(',') %>">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="60">
  <meta name="author" content="<%= meta.author %>">
  <meta name="copyright" content="<%= meta.copyright %>">

  <!-- Schema.org markup for Google -->
  <meta itemprop="name" content="<%= meta.title %>">
  <meta itemprop="description" content="<%= meta.description %>">
  <meta itemprop="image" content="<%= meta.imageUrl %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">

  <!-- Open Graph data -->
  <meta property="og:title" content="<%= meta.title %>">
  <meta property="og:description" content="<%= meta.description %>">
  <meta property="og:image" content="<%= meta.imageUrl %>">
  <meta property="og:image:alt" content="<%= meta.imageAlt %>">
  <meta property="og:url" content="<%= meta.url %>">
  <meta property="og:site_name" content="<%= meta.siteName %>">
  <meta property="og:locale" content="zh_TW">
  <meta property="og:locale:alternate" content="zh_HK">
  <meta property="og:locale:alternate" content="en_US">
  <meta property="og:locale:alternate" content="en_GB">
  <meta property="og:type" content="website">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://api.overseas.ncnu.edu.tw/0verseas-favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://api.overseas.ncnu.edu.tw/0verseas-favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://api.overseas.ncnu.edu.tw/0verseas-favicons/favicon-16x16.png">
  <link rel="manifest" href="https://api.overseas.ncnu.edu.tw/0verseas-favicons/manifest.json">
  <link rel="mask-icon" href="https://api.overseas.ncnu.edu.tw/0verseas-favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.2/pagination.css"
    integrity="sha256-fFqxRJ9q487bQTOBfn4T8jkJt8IGlrVzTeauNnuRHVA=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">

  <script src="js/browser-detect.js"></script>
  <script>
    if (!Browser.checkBrowserSupport()) {
      alert('請使用 Chrome、Firefox、Safari、Edge 或 IE 版本 >= 10 的瀏覽器。');
    };
  </script>
</head>

<body>

  <%- partial("componments/_loading") %>
  <%- yield %>
  <%- partial("partials/_footer") %>

  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch,es6,console,~viewport"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.2/pagination.min.js"
    integrity="sha256-+VcNrmehzvJ5czqCa6YNgicvAcTRq9x0uy2m2afsxh4=" crossorigin="anonymous"></script>
  <script src="js/env.js"></script>
  <script src="js/api.js"></script>
  <script src="js/<%= current.source %>.js"></script>
</body>
</html>
