<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://yuer.tw/sunnyworm.png" class="d-inline-block align-top" style="width: auto; height: 30px;" alt="和融頭">
    <%= headline %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% for (item of nav) { %>
        <li class="nav-item <%- system == item.system ? 'active' : '' %>">
          <a class="nav-link" href="<%= item.link %><%= item.link.split(":")[0] == 'http' || item.link.split(":")[0] == 'https' ? '' : '.html' %>">
            <%= item.title %> <span class="sr-only">(current)</span>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
