<%
  let currentSystem;
  for (item of systems) {
    if (system == item.system) {
      currentSystem = item;
      break;
    }
  }
%>

<div class="header clearfix">
  <div class="float-lg-left">
    <h2><%= headline %></h2>
    <p class="lead"><%= subline %></p>
  </div>
  <nav>
    <ul class="nav nav-pills nav-fill float-lg-right">
      <% for (item of systems) { %>
        <li class="nav-item">
          <a class="nav-link <%- system == item.system ? 'active' : '' %>" href="<%= item.link %><%= item.link.split(":")[0] == 'http' || item.link.split(":")[0] == 'https' ? '' : '.html' %>">
            <%= item.title %> <span class="sr-only">(current)</span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>

