<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand mx-auto mx-sm-0">
    <img src="https://api.overseas.ncnu.edu.tw/img/0verseas-logo.png" class="d-inline-block" style="width: 100px; height: auto;" alt="海外聯招會標誌">
  </div>

  <div class="d-inline-flex flex-column mx-auto mx-sm-0 mr-sm-auto pl-sm-3">
    <span class="navbar-nav">海外聯合招生委員會</span>
    <span class="navbar-nav"><%= headline %></span>
    <span class="navbar-nav"><%= subline %></span>
  </div>

  <ul class="nav nav-pills nav-fill mx-auto mx-lg-0 p-3">
    <% for (item of systems) { %>
      <li class="nav-item">
        <a class="nav-link <%- system == item.system ? 'active' : '' %>" href="<%= item.link %><%= item.link.split(':')[0] == 'http' || item.link.split(':')[0] == 'https' ? '' : '.html' %>">
          <%= item.title %> <span class="sr-only">(current)</span>
          <small><br/><%- item.system == 'twoYear' ? 'Two year bachelor for Hong Kong' : (item.system == 'IFP'? 'International Foundation Program' : item.system.slice(0,1).toUpperCase()+item.system.slice(1)) %></small>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
