<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <% for (item of nav) { %>
        <li class="nav-item">
          <a class="nav-link <%- system == item.system ? 'active' : '' %>" href="<%= item.link %><%= item.link.split(":")[0] == 'http' || item.link.split(":")[0] == 'https' ? '' : '.html' %>">
            <%= item.title %> <span class="sr-only">(current)</span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
  <h3 class="text-muted"><%= headline %></h3>
</div>

